#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}
#chat-screen .status-bar {
  background-color: #abc1d1;
}
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 20px;
  background-color: #abc1d1;
}

.main-chat {
  margin-top: 130px;
}
