.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 45px;
  margin-top: 15px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 700;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons--cog {
  position: relative;
}
.screen-header__icons__notification-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: tomato;

  position: absolute;
  left: 25px;
  bottom: 25px;
}
